body {
    display: flex;
    flex-direction: column;
    width: 440px;
    height: 560px;
    margin: 0;
    padding-top:1em;
}
.header {
    margin-bottom: 1em;
}

#myform {
	padding:0 1em;
}

.bootstrap-select {
	border: 1px solid #ccc!important;
}
.sos-tools {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sos-tools label{
	margin: 0;
	cursor: pointer;
}

.footer {
    margin-top: auto;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: flex-end;
    background: #333;
    color: #888;
    padding: 1em;
    font-size: .8em;
    font-weight: bold;
    font-family: 'Ubuntu';
}
.footer a {
    color: #888;
    text-decoration: none;
    transition: .5s all;
    display: flex;
    align-items: center;
    gap: 8px;
}
.footer a:hover {
	color:#fff;
}
.footer img {
	height: 30px;
	transition: .5s all;
}
.footer a:hover img {
    filter: invert(1);
}

.sos-popups .modal-content {
	border-radius: 1em;
    overflow: hidden;
}

.sos-popups .modal-header {
	background: #333;
    color: #888;
}
.sos-popups .modal-header button {
	margin-left: 0;
    color: #ccc;
}
.sos-popups .modal-body {
	text-align: center;
}
.sos-popups .modal-footer {
	justify-content: center;
}


#saved-list {
	display: grid;
    min-height: 150px;
    max-height: 150px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}
#saved-list .title {
    padding: 0 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(50vw - 78px);
}
#saved-list .list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    width: 100%;
}
#saved-list .list-group-item .btn-danger {
    margin-right: 5px;
}