/* You can add global styles to this file, and also import other style files */

html, body { width: 100%; height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.app {
    display: block;
    margin: auto;
    width:400px; 
    height:550px; 
    text-align: center; 
    box-shadow: 0 0 8px rgba(0,0,0,0.4);
}
.sos-header, .sos-body {padding: 20px;}
.sos-header h2 {margin: 0;padding: 0;}

.sos-body{ padding-top: 0;}
.sos-body mat-form-field {
    width:100%;
}